/* Footer */

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #858585;
	text-transform: uppercase;
	padding: 10px 10px 30px 10px;
}

@media (max-width: 1223px) {
	.footer {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}