* {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	cursor: pointer;
}

.container {
	margin: auto;
	width: 1170px;
}

@media (max-width: 1169px) {
	.container {
		width: 100%;
	}
}