.btn {
	width: 370px;
	height: 65px;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
}

.btn--center {
	margin-right: auto;
	margin-left: auto;
}

.btn-parcel {
	margin-top: 60px;
	margin-bottom: 10px;
	color: #872531;
	font-weight: bold;
	font-size: 18px;
	background: #FFF;
	border: 2px solid #872531;
	position: relative;
	transition: all .3s;
}
		
 .btn-parcel:after {
	content: "Clique e faça o seu pedido!";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: #872531;
	transition: all .3s;
	color: #FFF;
	line-height: 350%;
	font-size: 18px;
	font-weight: bold;
}

.btn-parcel:hover:after {
	color: #FFF;
	height: 100%;
	transition: all .4s;
}
		
.btn-parcel:active {
	font-weight: 500;
	color: #872531;
}

/* Botão de submit do form modal */
		
		
		.btn-submit {
			height: 50px;
			font-size: 20px;
			background: #858585;
			border: 2px solid #858585;
			color: #FFF;
			position: relative;
			display: table;
			transition: all .3s;
		}
		
		.btn-submit:hover {
			border-color: rgba(255, 255, 255, 0.5);
			transition: all .3s;
		}

		.btn-submit:after {
			content: "";
			height: 0;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(255, 255, 255, 0.5);
			transition: all .3s;
		}

		.btn-submit:hover:after {
			height: 100%;
			transition: all .3s;
		}

@media (max-width: 635px) {
	.btn {
		width: 60%;
	}
	
	.btn-parcel {
		font-size: 15px;
	}

	.btn-submit {
		width: 80%;
	}
}