/* Banner Amare */

		.message-amare {
			margin-top: 40px;
			margin-bottom: 20px;
			background-image: url("../../images/banner-msg-amare.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			height: 480px;
			padding-top: 30px;
			border: 2px solid #872531;
		}

		.message__text {
			color: #872531;
			text-align: center;
			font-size: 1.5rem;
			text-transform: uppercase;
			word-spacing: 8px;
			line-height: 35px;
		}

		.message__text:last-child {
			margin-top: 40px;
		}

@media (max-width: 816px) {
	.message-amare {
		height: auto;
		padding: 10px;
	}

	.message__text {
		font-size: 0.9090909090909091rem;
		line-height: 20px;
	}
}

@media (max-width: 500px) {
	.message__text {
		font-size: 0.63535rem;
		line-height: 12px;
		word-spacing: 1px;
	}

	.message__text:last-child {
			margin-top: 20px;
	}
}