/* Products */
		
		.main__products {
			display: flex;
			flex-wrap: wrap;
		}
		
		
		.product {
			width: 349px;
		}

		.product:not(:nth-child(3n)) {
			margin-right: 61px;
		}

		.product__item {
			margin: 0;
			border-top: 10px solid #872531;
		}
		
		.product__item:after {
			content: "";
			display: block;
			width: 70px;
			height: 40px;
			margin: auto;
			background-image: url(../../images/detalhe-botao.png);
			background-repeat: no-repeat;
			background-position: center top;
		}

		.product__image {
			max-width: 100%;
		}

		.product__name {
			margin-top: 15px;
			text-align: center;
			text-transform: uppercase;
			color: #FFF;
			font-size: 19px;
			line-height: 40px;
			background: #872531;
			padding: 9px;
			height: 60px;
			position: relative;
			cursor: pointer;
		}
		
		.product__name:after {
			content: "";
			width: 100%;
			height: 0;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(255, 255, 255, 0.1);
			transition: .3s;
		}

		.product__name:hover:after {
			height: 100%;
			transition: .3s;
		}


@media (max-width: 1205px) {
	.main__products {
		justify-content: space-around;
	}

	.product {
		width: 29%;
	}
}

@media (max-width: 978px) {
	.product {
		width: 27%;
	}
}

@media (max-width: 750px) {
	.main__products {
		text-align: center;
	}
	
	.product {
		width: 80%;
		margin-right: 0 !important;
	}

	.product__image {
		width: 100%;
	}
}

@media (max-width: 500px) {
	
	.product {
		width: 100%;
	}
}